<div id="footer">
<!-- your footer code goes here -->
<div class="footer">
      <div class="footer-content">
        <ul class="text list-inline">
          <li><a href="www.facebook.nl"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="www.linkedin.nl"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="www.twitter.nl"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
</div>

