<div id="footer">
  <div class="footer">
    <div class="footer-content">
      <ul class="text list-inline">
        <li><%= link_to "", "www.facebook.nl", class: "fa fa-facebook-square" %></li>
        <li><%= link_to "", "www.linkedin.nl", class: "fa fa-linkedin-square" %></li>
        <li><%= link_to "", "www.twitter.nl", class: "fa fa-twitter-square" %></li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
  </div>
</div>


<!--
<div id="footer">
<div class="footer">
      <div class="footer-content">
        <ul class="text list-inline">
          <li><a href="www.facebook.nl"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="www.linkedin.nl"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="www.twitter.nl"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
</div>
-->
